body{
    background-color: #fff7f7;
   
}
h1{
    border: 4px solid #e0ad83;
    color: #C3AA90;
    background-color: #fff7f7;
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}

h2{
    border: 4px solid #e0ad83;
    color: #8c4e2a;
    font-size: 1.5em;
    background-color: #f8f2ee;
    height: 40px;
    width: 200px;
    margin-left: 80px;
    margin-right: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 80px;
    margin-bottom: 80px;
    color: #C3AA90;
}

a{
    color: #C3AA90;
    text-decoration: none;
}
a:hover{
    color:  #8c4e2a;
}
h3{
    margin-top: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #C3AA90;
}

.card1 {
    background-color: #fefefe;
    border: 7px solid #eea57b;
    border-radius: 15px;
    margin-right: 60px;
}


.bottom-one {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbf9a;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    margin-left: 30px;
    margin-bottom: 15px;
}

.card1 p{
    color: #eea57b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 15px;
}

.card-title1 {
    color: #ffbf9a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 17px;
    margin-top: 18px;
    margin-bottom: 0%;
}

.card2 {
    background-color: #fefefe;
    border: 7px solid #bae0fc;
    border-radius: 15px;
    margin-right: 60px;
}

.card2 p{
    color: #337eab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 15px;
  
}

.card-title2{
    color: #337eab;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 17px;
    margin-top: 18px;
    margin-bottom: 0%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-two {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #72b9ea;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    margin-left: 50px;
    margin-bottom: 15px;
}


.card3 {
    background-color: #fefefe;
    border: 7px solid #8b0006;
    border-radius: 15px;
    margin-right: 60px;
}

.card3 p{
    color: #ac0005;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 15px;
  
}

.card-title3 {
    color: #ac0005;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 17px;
    margin-top: 18px;
    margin-bottom: 0%;
}

.bottom-three {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #8b0006;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    margin-left: 50px;
    margin-bottom: 15px;
}


.card4 {
    background-color: #fefefe;
    border: 7px solid #fd9aac;
    border-radius: 15px;
    margin-right: 60px;
    width: 90%;
    margin-top: 80px;  
}

.card4 p{
    color: #ffbcc7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 15px;
  
}

.card-title4 {
    color: #e97a90;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 17px;
    margin-top: 18px;
   
}

.bottom-four {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbcc7;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    margin-left: 50px;
    margin-bottom: 15px;

}

.card5 {
    background-color: #fefefe;
    border: 7px solid #fffa99   ;
    border-radius: 15px;
    margin-right: 60px;
    width: 80%;
    margin-top: 100px;
}

.card5 p{
    color: #ffeb8a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 15px;
}

.card-title5 {
    color: #ffeb8a;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 17px;
    margin-top: 18px;
    margin-bottom: 0%;
}

.bottom-five {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #feeeb8;
    color: white;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    margin-left: 50px;
    margin-bottom: 15px;
}

.container-two {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3  {
    display: flex;
    justify-content: center;
    align-items: center;
}